@model Ecommerce.Web.Model.MyUserViewModel

@{ ViewData["Title"] = "Login"; }
<link href="~/css1/style.css" rel="stylesheet" />






            <div class="w3l-loginblock signinform">
                <div class="logo">
                    <a class="brand-logo">User Login</a>
                </div>
                <!-- main content -->
                <div class="row map-content-9">
                    <div class="info-grids">
                        <form method="post">
                            <div class="form-grid">
                                <div class="input-field">
                                    <label> UserId or Email </label>
                                    <input class="form-control" asp-for="Email" />
                                </div>
                                <div class="input-field">
                                    <label> Password</label>
                                    <input class="form-control" asp-for="Pwd" type="password" />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-style">Login now</button>
                        </form>
                    </div>
                    <div class="info-grids social-login-details align-self">
                        <p class="text-center mb-3">Or login with</p>
                        <div class="social-media">
                            <a href="https://www.facebook.com" class="fb">
                                <span class="fa fa-facebook" aria-hidden="true"></span> Login
                                with facebook
                            </a>
                            <a href="https://www.twitter.com" class="tw">
                                <span class="fa fa-twitter" aria-hidden="true"></span>
                                Login with twitter
                            </a>
                        </div>
                        <p class="text-center mt-4">
                            Not yet registered? <a href="#signup">signup</a>
                            here
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>